@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Carmel, IN 46032<br />
    <abbr title="Phone">P:</abbr>
    239.322.7469
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">tjpage@indiana.edu</a><br />
</address>